
<body class="bg-white">
<h1 class="text-center text-danger pb-5 mt-3 pt-4 text-uppercase border border-danger rounded"> <u> School Record System </u> </h1>



<%= image_tag 'school-bg.jpg', alt: 'School Background', class: 'img-fluid' %>

<%= link_to 'Show Records', '/students', class: 'btn btn-danger btn-lg mt-3 text-light' %>

<%= link_to 'Show Classes', '/student_classes', class: 'btn btn-danger btn-lg mt-3 text-light' %>
</body>
